.product-details {
  padding: 20px;
}

.product-header,
.product-description,
.product-price,
.product-rating,
.review {
  margin-bottom: 20px;
}

.customer-name {
  font-weight: bold;
}

.custom-container {
  margin-top: 50px; 
  padding-top: 20px; 
}

