.delete-from-wishlist,
.add-to-cart {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s ease;
}

.delete-from-wishlist:hover,
.add-to-cart:hover {
  background-color: rgba(212, 212, 212, 0.3);
}
