.whatAfterNavbar {
  position: relative;
  margin-top: 170px;
}

h2 {
  color: #333333;
  font-weight: 500;
}

.homeCategories img:hover,
.categoryName:hover {
  cursor: pointer;
}

.whatAfterNavbar img {
  transition: transform 0.3s ease; /* Fix: Apply transition to the transform property */
}

.whatAfterNavbar img:hover {
  transform: scale(1.2); /* Fix: Correct the property name */
}

.whatAfterNavbar h5 {
  transition: color 0.3s ease;
}

.whatAfterNavbar h5:hover {
  color: #dc3545;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.scroll-to-top-btn {
  position: sticky;
  right: -50px;
  padding: 8px 12px;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  bottom: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.subSliderWrap {
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  /* background-color: white; */
  cursor: pointer;
  transition: all 0.3s ease;
  padding-bottom: 1px;
  text-align: center;
  position: relative;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeLatestProducts img {
  transition: transform 0.3s ease; /* Fix: Apply transition to the transform property */
}

.homeLatestProducts img:hover {
  transform: scale(1.2); /* Fix: Correct the property name */
}

.subSlider {
  padding: 0 10px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.scroll-to-top-btn:hover {
  background-color: rgb(22, 16, 4);
}
